fastapi
uvicorn[standard]
python-multipart
pathlib
bcrypt
hashlib
pydantic
fastapi
uvicorn
pytesseract
opencv-python
mimetypes
secrets
pillow
pyjwt
bcrypt
sqlite3
python-dotenv
pdf2image
numpy
shutil
glob2
jinja2
requests