<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/files.css">
  <title>File Explorer</title>
</head>
<body>
  <div class="container">
    <aside class="file-explorer">
      <h2>File Explorer</h2>
      <div id="fileDisplay" class="file-list"></div>
    </aside>
  </div>
  <button id="startConvertingButton" style="display: none;">Start Converting</button>
  <div class="toolbar">
    <button class="toolbar-button sort-button">Sort by ▼</button>
    <button class="toolbar-button filter-button">Filter</button>
    <button class="toolbar-button search-button">Search</button>
    <button class="toolbar-button refresh-button" onclick="fetchFiles()">Refresh</button>
    <button class="save-privacy-button" onclick="savePrivacy()">Save</button>
  </div>
  
  <div id="fileDisplay"></div>  
  <script src="/static/files.js"></script>
</body>
</html>
