<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Media Services</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="logo">
        <img src="static/images/convert-3209.svg" alt="Logo">
    </div>

    
    <div id="profile-icon-container"></div>
    <div id="dropdown-menu">
        <a href="/profile/${sessionId}" class="dropdown-item">
            <img src="static/images/edit.svg" alt="Profile Icon" class="dropdown-icon">
            Edit Profile
        </a>
        <a href="/settings" class="dropdown-item">
            <img src="static/images/settings.svg" alt="Settings Icon" class="dropdown-icon">
            Settings
        </a>
        <a href="/my-files" class="dropdown-item">
            <img src="static/images/folder.svg" alt="My Files Icon" class="dropdown-icon">
            My Files
        </a>
        <a href="/favorites" class="dropdown-item">
            <img src="static/images/favorite.svg" alt="Favorites Icon" class="dropdown-icon">
            My Favorites
        </a>
        <a href="/friends" class="dropdown-item">
            <img src="static/images/friend.svg" alt="Friends Icon" class="dropdown-icon">
            Friends
        </a>
        <a href="#" class="dropdown-item logout" id="logout-link">
            <img src="static/images/logout.svg" alt="Logout Icon" class="dropdown-icon logout">
            Sign Out
        </a>
    </div>
    <div class="func-buttons">
        <a href="upload" id="upload-btn" class="button">Upload</a>
    </div>
    <div class="container">
        <div class="auth-buttons">
            <h1>Unlock More Features</h1>
            <p>Create an account to access premium tools, save your progress, and get the best experience.</p>
            <a href="register" id="register-btn" class="button button-primary">Create an Account</a>
            <a href="login" id="login-btn" class="button button-secondary">Login</a>
        </div>
    </div>

    <!-- Include the script.js file -->
    <script src="../static/script.js"></script>
</body>
</html>
