<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Viewer</title>
    <link rel="stylesheet" href="/static/specific_file.css">
</head>
<body>
    <header>
        <h1>File Viewer</h1>
    </header>
    <main id="file-viewer">
        <div class="metadata">
            <div class="metadata-column left">
                <p><strong>File Hash:</strong> <span id="Hash"></span></p>
                <p><strong>Origin Hash:</strong> <span id="OriginHash"></span></p>
                <p><strong>Path:</strong> <span id="Path"></span></p>
                <p><strong>Username:</strong> <span id="Username"></span></p>
                <p><strong>Private:</strong> <span id="Private"></span></p>
            </div>
        
            <div class="metadata-column right">
                <p><strong>File Name:</strong> <span id="FileName"></span></p>
                <p><strong>File Type:</strong> <span id="FileType"></span></p>
                <p><strong>File Size:</strong> <span id="FileSize"></span></p>
                <p><strong>Duration:</strong> <span id="Duration"></span></p>
                <p><strong>Uploaded Date:</strong> <span id="Date"></span></p>
            </div>
        </div>
        <div id="content-display">
            <!-- Content will be dynamically loaded here -->
        </div>
    </main>
    <script src="/static/specific_file.js"></script>
</body>
</html>
